* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;

}

body{
    background-color: #0B0C10;
    overflow-x: hidden;
    color: white;
}

/* HEADER */

.cabecalhoGeral{
    margin: 0 100px;
}

.navbar {
    margin-top: 10px;
}

.container-fluid {
    margin-top: 2px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 100%;
}

.collapse {
    max-width: 100%; 
    height: auto; 
}

.content-3 a span{
    padding: 25px;
    color: #fff;
    font-size: 20px;
    position: relative;
}

/* MAIN */

.wrapper-all-main {
    margin: 0 250px;
}

.content-text-early {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.content-text-early,
.content-text-early img {
    display: flex;
    border-radius: 30px;
}

.title-early {
    width: 1400px;
    line-height: 25px;
    padding-right: 30px;
    text-align: justify;
    height: 90px;
}

.title-early h1 {
    font-weight: bold;
    padding: 0 0 40px;
}

.title-early p {
    width: 80%;
}

.effects {
    position: absolute;
    top: -10%;
    left: 10%;
    height: 250px;
    width: 250px;
    transform: translate(-10%, -50%);
    filter: blur(125px);
    background-color: #282A36;
    z-index: 1;
}

.effects#effect2 {
    position: absolute;
    top: 50%;
    left: 70%;
    height: 250px;
    width: 300px;
    transform: translate(-50%, -50%);
    opacity: 100%;
    background-color: #BBFF1A;
    z-index: 1;
}