*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    padding-top:100px;
    background:#050505;
    font-family: Helvetica, Arial, sans-serif;
}

/* HEADER */

.header {
    top:0;
    width:100%;
    height:90px;
    display:flex;
    z-index:1000;
    padding:0 60px;
    position:fixed;
    align-items:center;
    justify-content:space-between;
}

/* LOGO */

.logo a {
    text-decoration:none;
}

.logo {
    display: flex;
    font-size:28px;
    font-weight:bold;
    align-items: center;
    gap: 10px;
}

.logo-hv {
    background: linear-gradient(270deg, #cccccc, #ffffff, #999999, #cccccc);
    background-size: 800% 800%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 8s ease infinite;
}

/* BOTÃO DARK/LIGHT */

.theme-toggle {
    width:32px;
    height:32px;
    border-radius:50%;
    border:1px solid rgba(255,255,255,0.2);
    background:rgba(255,255,255,0.05);
    color:white;
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:14px;
    transition:all .3s ease;
}

.theme-toggle:hover {
    background:rgba(255,255,255,0.15);
}

/* BOTAO MODO CLARO */

body.light-mode {
    background:#ffffff;
}

body.light-mode .hero {
    background:#ffffff;
}

body.light-mode .hero-content h1 {
    background-color: #111;
}

body.light-mode .hero-content p {
    color:#0505052a;
}

body.light-mode .nav-container {
    background:rgba(0,0,0,0.04);
    border:1px solid rgba(0,0,0,0.08);
}

body.light-mode .nav-menu a {
    color:#444;
}

body.light-mode .nav-menu a:hover {
    color:#000;
}

body.light-mode .time {
    color:#444;
}

body.light-mode .theme-toggle {
    color:#000;
    border:1px solid rgba(0,0,0,0.2);
}

body.light-mode .project-header h3,
body.light-mode .tags span {
    color:#111;
}

body.light-mode .project-info p {
    color: #05050581;
}

/* Animação do gradiente */
@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* NAV CONTAINER */

.nav-container {
    width:320px;
    display:flex;
    padding:10px 20px;
    border-radius:50px;
    align-items:center;
    justify-content:space-between;
    backdrop-filter: blur(12px);
    background:rgba(255,255,255,0.04);
    border:1px solid rgba(255,255,255,0.08);
    transition:all 0.45s cubic-bezier(.4,0,.2,1);
}

.nav-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.25);
}

/* MENU CENTRAL */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 35px;
    justify-content: center; /* centraliza horizontalmente */
    flex: 1; /* ocupa todo espaço central */
    transform: opacity 0.3s ease, transform 0.3s ease;
}

.nav-menu li {
    display: flex;
    align-items: center;
}

.nav-menu a {
    font-size: 15px;
    transition: 0.3s;
    color: #8c8c8c;
    text-decoration: none;
}

.nav-menu a:hover {
    color: white;
}

/* TIME */

.time {
    font-size:14px;
    color:#7a7a7a;
}


/* Seção Hero */
.hero {
    width: 100%;
    min-height: 30vh; /* altura menor, para ficar próximo ao menu */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* alinha no topo da seção */
    text-align: center;
    background: #050505;
    padding: 2rem; /* mais espaço no topo */
}

.hero-content {
    margin-top: 1rem; /* distância do menu */
}

.hero-content h1 {
    font-size: 90px;
    font-weight: 1000;
    background-color: #f8f8f8;
    background-size: 800% 800%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 8s ease infinite;
    margin-bottom: 0.5rem;
}

.hero-content p {
    font-size: 80px;
    font-weight: 1000;
    color: #ffffff33;
    opacity: 0.8;
}

/* Projetos */

.projects {
    display:grid;
    max-width:1600px;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding:80px 20px;
    grid-template-columns:1fr 1fr;
    gap:60px;
}

.project-card {
    display:flex;
    flex-direction:column;
}

.project-media img {
    width: 827.5px;
    height: 514.31px;
    border-radius:8px;
}

.project-info {
    margin-top:16px;
}

.project-header {
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.project-header h3 {
    color: #fff;
    font-size:20px;
    font-weight:600;
}

.tags span {
    color: #fff;
    font-size:11px;
    border:1px solid #ccc;
    padding:4px 8px;
    border-radius:4px;
    margin-left:6px;
}

.project-info p {
    margin-top:8px;
    color:#fff;
    font-size:14px;
}

@media (max-width:768px) {
    .projects{
        grid-template-columns:1fr;
    }
}